.container {
    border: 2px solid #24b4ce;
    background-color: white;
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px 100px ;
    grid-auto-rows: 100px;
    grid-auto-flow: column;
    place-content: center;
    /* row-gap: 15px;
    column-gap: 15px; */
    gap: 20px;
}
.item{
    font-size: 4rem;
    width: 100px;
    height: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    background-color: #4cce24;
    display: grid;
    justify-content: end;
    align-items: end;
}
.item:nth-child(2), .item:nth-child(5){
    background-color: #3eac1d;
}
.item:nth-child(3), .item:nth-child(6){
    background-color: #328818;
}
span{
    color: white;
    background-color: #22700b;
}