.container {
    border: 2px solid #4fffd9;
    background-color: rgb(191, 245, 227);
    display: grid;
    grid-template-columns: minmax(30px, 300px) 200px minmax(60px, 250px);
    grid-template-rows: repeat(3,auto);
}
.item{
    border: 5px solid #3cd3ee;
    font-size: 2rem;
}